<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/book2.css">
    <style>
        p {
            font-size: 18px;
            color: #666;
        }
    </style>
    <title>Document</title>
</head>

<body>
    <!-- <h1>
        <span id="span1"></span>
        <span id="span2"></span>
        <span id="span3"></span>
    </h1> -->
    <div id="top">
        <p id="span1"></p>
        <p id="span2"></p>
        <p id="span3"></p>
    </div>

    <div id="main" style="width: 600px;height:400px;"></div>
    <div id="main2" style="width: 600px;height:400px;"></div>
</body>
<script src="/static/js/echarts.js"></script>
<script src="/static/js/book2.js"></script>

</html>