<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/book.css">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <title>图书排行榜</title>
</head>

<body>
    <div id="top">
        <a href="/book/index">首页</a>
        <a href="/book/book/">图书排行榜</a>
        <a href="/book/house/">出版社排行榜</a>
    </div>
    <div id="header">
        <a href="javascript:;" id="zong">总排行</a>
        <a href="javascript:;" id="cx_16">2016</a>
        <a href="javascript:;" id="cx_17">2017</a>
        <a href="javascript:;" id="cx_18">2018</a>
    </div>
    <div id="commit">
        <table class="layui-hide" id="test" lay-filter="test"></table>
    </div>
    <div id="main" style="width: 600px;height:400px;"></div>
    <div id="main2" style="width: 600px;height:400px;"></div>
</body>
<!-- <script src="../static/JavaScript/echarts.js"></script> -->
<script src="/static/js/jquery-3.3.1.js"></script>
<script src="/static/layui/layui.js"></script>
<script src="/static/js/echarts.js"></script>
<script src="/static/js/book.js"></script>

</html>